*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}
::placeholder {
  color: rgb(193, 193, 193);
}
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #2d3436;
}
